<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<wicket:link><link rel="stylesheet" type="text/css" href="Home.css"/></wicket:link>	
 	<title>Fesf Library</title>
</head>
<body>
	<div class="bodyDiv" wicket:id="contentPanel"/>
	<table cellpadding="10px">
    <tr>
    	<td><span wicket:id="firstName"></span> <span wicket:id="lastName"></span></td>
        <td><img src="images/OpenID_logo.jpg" width="150px"></img></td>
        <td><img src="images/springframework.gif" width="120px"></img></td>
        <td><img src="images/wicket_logo.png" width="150px"></img></td>
        <td><img src="images/google_logo.jpg" width="150px"></img></td>
    </tr>
	</table>	
</body>
</html>