<wicket:panel>

<h3 wicket:id="title"/>
<span class="bipAtributeLabel">Authors:</span>          <span class="bipAuthorNames" wicket:id="authorNames"/><br/>
<span class="bipAtributeLabel">Publisher:</span>        <span class="bipPublisher" wicket:id="publisher.name"/><br/>
<span class="bipAtributeLabel">Categories:</span>       <span class="bipCategoryNames" wicket:id="categoryNames"/><br/>
<span class="bipAtributeLabel">ISBN</span>              <span class="bipIsbn" wicket:id="isbn.value"/><br/>
<span class="bipAtributeLabel">Available Copies:</span> <span class="bipCountOfAvailableCopies" wicket:id="countOfAvailableCopies"/><br/>
<span class="bipAtributeLabel">Description:</span>      <span class="bipDescription" wicket:id="description"/><br/>
<a href="#" wicket:id="borrowIt">Borrow it!</a>
</wicket:panel>