<wicket:panel>
<form wicket:id="form">
            <table>
                <tr>
                    <td align = "right">Title:</td>
                    <td><input type="text" id="title" wicket:id="title"/></td>
                    <td><span wicket:id="titleFeedback"></span></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" wicket:id="submit" value="submit"/></td>
                </tr>
            </table>
</form>
</wicket:panel>
