<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:wicket="http://wicket.apache.org/">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<wicket:link><link rel="stylesheet" type="text/css" href="Home.css"/></wicket:link>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>	
 	<title>Fesf Library</title>
</head>
<body>
  	<div wicket:id="userbar"/>
	<div wicket:id="sidebar">Aca va la barra</div>
	<div wicket:id="searchbar">Aca va la barra</div>
	<div wicket:id="contentPanel">Aca va la barra</div>
</body>
  
</html>