<wicket:panel>
<table>
	<tr>
		<td>Title:</td>
		<td><input type="text" wicket:id="title"/></td>
	</tr>
	<tr>
		<td>ISBN:</td>
		<td><input type="text" wicket:id="isbn"/></td>
	</tr>
	<tr>
		<td>Publisher:</td>
		<td><input type="text" wicket:id="publisher"/></td>
	</tr>
	<tr>
		<td colspan="2">Description:</td>
	</tr>
	<tr>
		<td colspan="2"><textarea rows="4" cols="48" wicket:id="description"/></td>
	</tr>
	<tr>
		<td><span>Available:</span></td>
		<td><input type="checkbox" wicket:id="available"/></td>
	</tr>
	<tr>
		<td colspan="2">Categories:</td>
	</tr>
	<tr>
		<td colspan="2"><div wicket:id="categories"/></td>
	</tr>
	<tr>
		<td colspan="2">Authors:</td>
	</tr>
	<tr>
		<td colspan="2"><div wicket:id="authors"/></td>
	</tr>
	<tr>
		<td>Count of Copies:</td>
		<td><input type="text" wicket:id="countOfCopies"/></td>
	</tr>
</table>
</wicket:panel>