<wicket:panel>
<table>
	<tr>
		<td><span>Title:</span></td>
		<td><input type="text" wicket:id="title"/></td>
	</tr>
	<tr>
		<td><span>ISBN:</span></td>
		<td><input type="text" wicket:id="isbn"/></td>
	</tr>
	<tr>
		<td><span>Publisher:</span></td>
		<td><input type="text" wicket:id="publisher"/></td>
	</tr>
	<tr>
		<td><span>Description:</span></td>
		<td><textarea rows="4" cols="50" wicket:id="description"/></td>
	</tr>
	<tr>
		<td><span>Available:</span></td>
		<td><input type="checkbox" wicket:id="available"/></td>
	</tr>
	<tr>
		<td><span>Count of Copies:</span></td>
		<td><input type="text" wicket:id="countOfCopies"/></td>
	</tr>
</table>
</wicket:panel>