<wicket:panel>
<table>
<tr>
	<td>Name:</td>
	<td><input type="text" wicket:id="name"/></td>
</tr>
<tr>
	<td>Surname:</td>
	<td><input type="text" wicket:id="surname"/></td>
</tr>
<tr>
	<td>Age:</td>
	<td><input type="text" wicket:id="age"/></td>
</tr>
<tr>
	<td>Address:</td>
	<td><input type="text" wicket:id="address"/></td>
</tr>
<tr>
	<td>Phone:</td>
	<td><input type="text" wicket:id="phone"/></td>
</tr>
<tr>
	<td>Email:</td>
	<td><input type="text" wicket:id="email"/></td>
</tr>
<tr>
	<td>UserID:</td>
	<td><input type="text" wicket:id="userid"/></td>
</tr>
<tr>
	<td>Password:</td>
	<td><input type="password" wicket:id="password"/></td>
</tr>
</table>
</wicket:panel>