<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<wicket:head>
</wicket:head>
<body>
<div class="wrapper">
<div class="content">
<div class="login">
<h2>Use the button below to signIn using your Google Account.</h2>
<h2>Login is performed using the <a href="http://openid.net/" title="OpenID Site">OpenID</a> standard.</h2>

<table>
    <tr>
        <td><img src="images/google_logo.jpg" width="100px"></img></td>
        <td>
        <form action="j_spring_openid_security_check">
        <input type="hidden" name="openid_identifier" value="https://www.google.com/accounts/o8/id" /> 
        <button type="submit" value="Connect with Gmail">Connect with Gmail</button>
        </form>
        </td>
    </tr>
</table>
</div>
</div>
</div>

</body>

</html>