<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<wicket:link><link rel="stylesheet" type="text/css" href="ScalaHome.css"/></wicket:link>	
 	<title>Sign In - Fesf Library</title>
</head>
<body>
<div class="login">
	<div wicket:id="signIn"></div>
</div>
<a wicket:id="goHome"><p style="text-align:center">Go home</p></a>
</body>

</html>