<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.3-strict.dtd">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<wicket:link><link rel="stylesheet" type="text/css" href="ScalaHome.css"/></wicket:link>	
 	<title>Ups - Fesf Library</title>
</head>
<body>
<div class="login">
	<h2>Ups... Something happened...</h2>
	<h3>Something went wrong when attempting to process your request.</h3>
	<h4>Please try again later, or go <a wicket:id="homeLink" href="#">back to home</a></h4>
</div>
</body>

</html>