<wicket:panel>
	<h1> Edit book: </h1>
	<form wicket:id="form">
            <div wicket:id="feedbackPanel"></div>
            <table>
                <tr>
                    <td valign="top"><label for="title" wicket:id="title.label">Title:</label></td>
                    <td><input type="text" id="title" wicket:id="title"/></td>
                    <td><span wicket:id="title_feedback"></span></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" wicket:id="submit"/></td>
                </tr>
            </table>
        </form>
</wicket:panel>
