<wicket:panel>

<div wicket:id="loanee"/>
	<script type="text/javascript">
		$(document).ready(			
				function() {
					link = $('a[id^="action"]'); 	
					link.attr('onclick', 'if(confirm("You are returning a book. Are you sure?"))' + link.attr('onclick'));
		
					link.click(function(event) {
						event.preventDefault();
					}); 				
				
				});

	</script>

	<h3>Current Loans</h3>
<div class="loaneeLoans" wicket:id="loans">
	<span class="textStyle">Title:</span><span wicket:id="bookCopy.book.title"/><br/>
	<span class="textStyle">Loan Date:</span><span wicket:id="loanDate"/><br/>
	<span class="textStyle">Agreed Return Date:</span><span wicket:id="agreedDate"/><br/>
	<span wicket:id="actions"/>
</div>

</wicket:panel>